<% if recipe.user == current_user  %>
  <%= form_with model: @RecipeFood, url: recipe_recipe_foods_path(recipe), method: :post do |form| %>
    <%= form.number_field :quantity, placeholder: 'Quantity', min: 0 %>
    <%= form.collection_select :food_id, recipe.user.foods, :id, :name %>
    <%= form.submit 'Add', class: 'btn-primary' %>
  <% end %>
<% end %>

<% if recipe.foods.blank? %>
  <p class="text-center">No foods available!</p>
<% else %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
        <td><%= "$ #{recipe_food.quantity * recipe_food.food.price}" %></td>
        <td>
          <% if user_signed_in? && recipe_food.recipe.user == current_user %>
          <%= form_with(model: RecipeFood.new, url: recipe_recipe_food_path(@recipe, recipe_food) , method: :delete) do |f| %>
            <%= f.submit 'Delete', class: 'cursor-pointer text-red-500' %>
          <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% end %>