<div class="mb-4">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <% if user_signed_in? && @recipe.user == current_user %>
        <%= link_to "Generate Shopping List", general_shopping_list_index_path, class: 'line_btn' %>
      <% end %>
    </div>
    <div>
      <% if recipe.user == current_user  %>
        <%= form_with model: @RecipeFood, url: recipe_recipe_foods_path(recipe), class: 'form-inline', method: :post do |form| %>
          <div class="form-group mb-2">
            <%= form.number_field :quantity, placeholder: 'Quantity', min: 0, class: "form-control" %>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <%= form.collection_select :food_id, recipe.user.foods, :id, :name, class: "form-control" %>
          </div>
          <%= form.submit 'Add', class: 'btn btn-primary mb-2' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if recipe.foods.blank? %>
    <h4 class="text-center">No foods available!</h4>
  <% else %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% recipe.recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
          <td><%= "$ #{recipe_food.quantity * recipe_food.food.price}" %></td>
          <td>
            <% if recipe_food.recipe.user == current_user %>
            <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, class: 'btn btn-danger' %> 
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>